body {
    background: #181818;
    color: #ffffff;
    margin: 0px;
}

/* universal cases */
.upcase {
    text-transform: uppercase;
}

.nav-header {
    background: #212121;
    height: 105px;
    border-top: 2px solid #339988;
    display: flex;
    padding: 0 5%;
}

.m-container {
    max-width: 1200px;
    min-width: auto;
    margin: 25px auto;
    /* border: 4px solid #339988; */
    border-radius: 8px;
    padding: 6px;
}

.pic {
    width: auto;
    min-height: 325px;
    background: #000;
    border: 3px solid #339988;
    border-radius: 8px;
}

.search-nav {
    max-width: 700px;
    min-width: 300px;
    min-height: 85px;
    background: #000;
    border: 4px solid #339988;
    margin: -4% auto;
    border-radius: 8px;
}

.logo {
    /* border: 2px solid #339988; */
    width: 225px;
    margin: 25px auto;
}

.nav {
    /* border: 2px solid #339988; */
    margin: 25px auto;
    width: auto;
    text-align: right;
    flex: auto;
}

/* dropdown code */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}